*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

.container {
    height: 960px;
    max-width: 960px;
    display: grid;
    grid-template-columns: repeat(var(--size), 1fr);
    grid-template-rows: repeat(var(--size), 1fr);
    gap: 2px;
    padding: 2px;
    align-self: center;
    border: 1px solid black;
    margin: 6rem auto;
}
.pixel {
    border-radius: 2px;
    color: white;
    background-color: whitesmoke;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

button {
    align-self: center;
    padding: 1em 2em;
}
